acts_as_audited_plugin.sqlite3.db
spec/debug.log
coverage/
.svn/entries
.svn/format
generators/.svn/entries
generators/.svn/format
generators/audited_migration/.svn/entries
generators/audited_migration/.svn/format
generators/audited_migration/templates/.svn/entries
generators/audited_migration/templates/.svn/format
lib/.svn/entries
lib/.svn/format
lib/acts_as_audited/.svn/entries
lib/acts_as_audited/.svn/format
spec/.svn/entries
spec/.svn/format
tasks/.svn/entries
tasks/.svn/format
.svn/dir-props
*svn*
